# CMake 构建目录
game_main/Build/

# 编译输出和第三方依赖
bin/
lib/
_deps/

# Visual Studio 临时文件
.vs/
out/
build/
x64/
x86/
*.sln
*.vcxproj
*.filters
*.user

# VS Code 配置
.vscode/
.history/

# 操作系统临时文件
Thumbs.db
Desktop.ini
.DS_Store

# 其他生成文件
*.exe
*.pdb
*.obj
*.o
*.lib
*.dll
*.ipch
*.log
